body{
    background-color: paleturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* New updated in version 2 */
    /* New updated in version 4 */
   
}